/* Global CSS */

/* Grid */
body > main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 7em);
  padding: 1rem 0;
}

.invert-img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

@media (min-width: 576px) {
  body > main {
    padding: 1.25rem 0;
  }
  body > .container {
    width: 404;
  }
}

@media (min-width: 768px) {
  body > main {
    padding: 1.5rem 0;
  }
  body > .container {
    width: 538px;
  }
}

@media (min-width: 992px) {
  body > main {
    padding: 1.75rem 0;
  }
  body > .container {
    width: 694px;
  }
}

@media (min-width: 1200px) {
  body > main {
    padding: 2rem 0;
  }

  body > .container {
    width: 840px;
  }
}

/* Nav */
summary[role="link"].secondary:is([aria-current], :hover, :active, :focus) {
  background-color: transparent;
  color: var(--secondary-hover);
}

/* Signup-css */
article > img {
  display: flex;
  margin: 0 auto;
  width: 230px;
  padding-bottom: 10px;
}

form > button {
  margin-bottom: 0;
}

/* Success/Failure css  */

div > a {
  margin-bottom: var(--typography-spacing-vertical);
}

article > div > img {
  width: 300px;
}
